<h1>Landing</h1>
<p>Hello, you are not registered </p>

<li class="margin_button">
    <%= link_to new_user_registration_path, class: 'btn btn-outline-info my-2 my-sm-0 margin_button menuBtn' do%> Registrarme 
    <%end%>

</li>
<li class="margin_button" >
    <%= link_to new_user_session_path, class: 'btn btn-outline-info  my-2 my-sm-0 margin_butto menuBtnn login_button menuBtn'  do  %>Entrar 
    <%end%>
</li>